
[submodule "thirdparty/wayland"]
	path = thirdparty/wayland
	url = https://gitlab.freedesktop.org/wayland/wayland.git
[submodule "thirdparty/libdrm"]
	path = thirdparty/libdrm
	url = https://gitlab.freedesktop.org/mesa/drm.git
[submodule "thirdparty/pixman"]
	path = thirdparty/pixman
	url = https://gitlab.freedesktop.org/pixman/pixman.git
[submodule "thirdparty/xkbcommon"]
	path = thirdparty/xkbcommon
	url = https://github.com/xkbcommon/libxkbcommon.git
[submodule "thirdparty/wayland-protocols"]
	path = thirdparty/wayland-protocols
	url = https://gitlab.freedesktop.org/wayland/wayland-protocols.git
[submodule "thirdparty/wlroots"]
	path = thirdparty/wlroots
	url = https://gitlab.freedesktop.org/wlroots/wlroots.git
